Fuel/MITD.Fuel.ACL.StorageSpace/Service References/OffhireService/OffhireManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OffhireManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.6.12.25:8511/OffhireManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.6.12.25:8511/OffhireManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.6.12.25:8511/OffhireManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OffhireService.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOffhireManagementService_GetFinalizedOffhire_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalizedOffhire" />
  </wsdl:message>
  <wsdl:message name="IOffhireManagementService_GetFinalizedOffhire_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalizedOffhireResponse" />
  </wsdl:message>
  <wsdl:message name="IOffhireManagementService_GetFinalizedOffhires_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalizedOffhires" />
  </wsdl:message>
  <wsdl:message name="IOffhireManagementService_GetFinalizedOffhires_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinalizedOffhiresResponse" />
  </wsdl:message>
  <wsdl:message name="IOffhireManagementService_SetVoucherStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVoucherStatus" />
  </wsdl:message>
  <wsdl:message name="IOffhireManagementService_SetVoucherStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVoucherStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IOffhireManagementService">
    <wsdl:operation name="GetFinalizedOffhire">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffhireManagementService/GetFinalizedOffhire" message="tns:IOffhireManagementService_GetFinalizedOffhire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffhireManagementService/GetFinalizedOffhireResponse" message="tns:IOffhireManagementService_GetFinalizedOffhire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinalizedOffhires">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffhireManagementService/GetFinalizedOffhires" message="tns:IOffhireManagementService_GetFinalizedOffhires_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffhireManagementService/GetFinalizedOffhiresResponse" message="tns:IOffhireManagementService_GetFinalizedOffhires_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetVoucherStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOffhireManagementService/SetVoucherStatus" message="tns:IOffhireManagementService_SetVoucherStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOffhireManagementService/SetVoucherStatusResponse" message="tns:IOffhireManagementService_SetVoucherStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOffhireManagementService" type="tns:IOffhireManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFinalizedOffhire">
      <soap:operation soapAction="http://tempuri.org/IOffhireManagementService/GetFinalizedOffhire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinalizedOffhires">
      <soap:operation soapAction="http://tempuri.org/IOffhireManagementService/GetFinalizedOffhires" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetVoucherStatus">
      <soap:operation soapAction="http://tempuri.org/IOffhireManagementService/SetVoucherStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OffhireManagementService">
    <wsdl:port name="BasicHttpBinding_IOffhireManagementService" binding="tns:BasicHttpBinding_IOffhireManagementService">
      <soap:address location="http://10.6.12.25:8511/OffhireManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>